-var navLinks = [{url: '/pages/wood.html', name: 'WOOD'},{url: '/pages/glass.html', name: 'GLASS'}, {url: '/pages/ceramo.html', name: 'CERAMIC'}]


mixin navbar
  .navbar
    .row
      a(href='index.html') logo
      ul
        each link in navLinks
          li
            if selected === link.name
              a.active(href=link.url)=link.name
            else
              a(href=link.url)=link.name

